header {
  text-align: center;
  padding: 0px;
}

.salmon {
  width: px;
  height: 105px;
  background: lightgray;
  border-radius: 50%;

}

.needle {
  width: 250px;
  height: 105px;
  background: #a8490;
  border-radius: 50%;
  float: right;
}


body {
  background-color: lightgray;
}

.l1,
.l2,
.l3 {
border-style: double;
margin-top: 10px;
}

h1 {
  text-align: center;
}

#button {
  text-align: center;
  
}

#loc {
margin-bottom: 2px;
}
 
#minCust {
margin-bottom: 2px;
}

#maxCust {
  margin-bottom: 2px;
}

#button {
  margin-top: 2px;
  margin-bottom: 2px;
}