header {
  text-align: center;
  padding: 0px;
}

.salmon {
  width: px;
  height: 105px;
  background: lightgray;
  border-radius: 50%;

}

.needle {
  width: 250px;
  height: 105px;
  background: #a8490;
  border-radius: 50%;
}


body {
  background-color: lightgray;
}

.l1,
.l2,
.l3 {
border-style: double;

}

